<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>            
			<img alt="image" class="img-circle" src="img/PNG_2-e1424390817317.png">
        </div>
		
		<!--
		<div class="navbar-header">
            <span minimaliza-sidebar></span>
			
            <form role="line" class="navbar-form-custom">
                <div class="form-group">
                    
                </div>
            </form>			
        </div>
		-->
		
        <h3>Bienvenido al CGP+L</h3>
        <p>Producción más Limpia, una estrategia ambiental preventiva e integrada, que mejora la eficiencia de las actividades de su organización, reduce costos y mejora su desempeño ambiental.
        </p>
		
        <p>Ingrese su usuario y contraseña.</p>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ui-sref="inicio.autenticado">Iniciar sesi&oacute;n</button>

            <a ui-sref="forgot_password"><small>¿Olvido su contraseña?</small></a>
            <p class="text-muted text-center"><small>¿No esta registrado?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Crear una cuenta</a>
        </form>
        <p class="m-t"> <small>Todos los derechos reservados CGP+L &copy; 2015</small> </p>
    </div>
</div>